*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.hero {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

svg {
  width: 30px;
  height: 30px;
}

@media (min-width: 1400px) {
  svg {
    width: 60px;
    height: 60px;
  }
}
